.product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 240px;
    transition: transform 0.2s ease;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }
  
  .product-image-container {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product-image {
    width: 100%;
    object-fit: contain;
  }
  
  .product-info {
    text-align: left;
    margin-top: 10px;
  }
  
  .product-name {
    font-weight: 700;
    font-size: 1rem;
  }
  
  .product-brand {
    color: #666;
    margin-top: -5px;
  }
  
  .product-price {
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .add-cart-btn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.add-cart-btn:hover {
  background-color: #2980b9;
}

.product-stock {
  font-size: 0.9rem;
  color: #444;
  text-align: right;
  margin-top: 4px;
}
.old-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 6px;
}
.new-price {
  color: #e63946;
  font-weight: bold;
}

/*  Buttons Section */
.button-group {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.add-to-cart {
  background: #fff;
  color: #111;
  border: 2px solid #111;
  font-weight: 600;
  padding: 12px 22px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.add-to-cart:hover {
  background: #111;
  color: #fff;
}

.checkout-btn {
  background: #000;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 12px 22px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.checkout-btn:hover {
  background: #222;
}
